OpenRouter_Free_Experts_RU.json
{
  "name": "OpenRouter_Free_Experts_RU",
  "nodes": [
    {
      "parameters": {},
      "id": "0e0bc4ff-494f-4115-898f-c692cdcf06b3",
      "name": "▶️ Start Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "api-key",
              "name": "openrouter_api_key",
              "value": "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",
              "type": "string"
            },
            {
              "id": "test-mode",
              "name": "test_mode",
              "value": "auto",
              "type": "string"
            },
            {
              "id": "custom-models",
              "name": "custom_models_list",
              "value": "",
              "type": "string"
            },
            {
              "id": "scoring-model",
              "name": "scoring_model",
              "value": "openrouter/aurora-alpha",
              "type": "string"
            },
            {
              "id": "max-models",
              "name": "max_models_to_test",
              "value": "15",
              "type": "number"
            },
            {
              "id": "rate-limit",
              "name": "rate_limit_ms",
              "value": "2000",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4a4c636f-648c-4ace-bedc-d2de6ed2e73c",
      "name": "⚙️ Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Формируем список моделей для тестирования (кастомный или дефолтный)\nconst config = $input.first().json;\nconst testMode = config.test_mode || 'auto';\nconst customModels = config.custom_models_list || '';\nconst maxModels = parseInt(config.max_models_to_test) || 15;\n\nconsole.log('🔍 Test Mode:', testMode);\nconsole.log('📊 Max models to test:', maxModels);\n\nif (testMode === 'custom' && customModels.trim()) {\n  // Кастомный список моделей через запятую\n  const modelsArray = customModels\n    .split(',')\n    .map(m => m.trim())\n    .filter(m => m)\n    .slice(0, maxModels);\n  \n  console.log(`✅ Using custom model list (${modelsArray.length} models)`);\n  \n  return modelsArray.map((modelId, index) => ({\n    json: {\n      model_id: modelId,\n      source: 'custom_list',\n      priority: 'high',\n      original_index: index\n    }\n  }));\n} else {\n  // Автоматический режим — дефолтный список для РФ с расширенным набором моделей для тестирования (30 вместо 15)\n  const defaultModels = [\n    'qwen/qwen-2.5-72b-instruct:free',\n    'qwen/qwen-110b-chat:free',\n    'deepseek/deepseek-chat',\n    'deepseek/deepseek-chat-v3.1',\n    'llama-3.1-70b-versatile',\n    'llama-3.1-8b-instant',\n    'upstage/solar-pro-3:free',\n    'nvidia/llama-3.1-nemotron-70b-instruct',\n    'arcee-ai/trinity-large-preview:free',\n    'qwen/qwen-2.5-coder-32b-instruct:free',\n    'deepseek/deepseek-coder',\n    'meta-llama/llama-3.1-70b-instruct:free',\n    'meta-llama/llama-3.2-3b-instruct:free',\n    'meta-llama/llama-3.2-1b-instruct:free',\n    'google/gemma-2-9b-it:free',\n    'google/gemma-2-27b-it',\n    'mistralai/mistral-7b-instruct:free',\n    'mistralai/mixtral-8x7b-instruct',\n    'openrouter/auto',\n    'upstage/solar-pro',\n    'qwen/qwen-2.5-7b-instruct:free',\n    'qwen/qwen-2.5-32b-instruct:free',\n    'deepseek/deepseek-math',\n    'mistralai/pixtral-12b:free',\n    'meta-llama/llama-3.3-70b-instruct',\n    'meta-llama/llama-3.3-70b-instruct:free',\n    'qwen/qwen-2.5-7b-chat:free',\n    'qwen/qwen-2.5-14b-instruct:free',\n    'qwen/qwen-2.5-14b-chat:free',\n    'qwen/qwen-2.5-7b-chat'\n  ];\n  \n  const modelsToTest = defaultModels.slice(0, maxModels);\n  console.log(`✅ Using default model list for Russia (${modelsToTest.length} models)`);\n  \n  return modelsToTest.map((modelId, index) => ({\n    json: {\n      model_id: modelId,\n      source: 'default_russia_list',\n      priority: index < 6 ? 'high' : 'medium',\n      region: 'russia_compatible',\n      original_index: index\n    }\n  }));\n}"
      },
      "id": "88c22384-e56a-4ffd-a896-82f5cb61bbee",
      "name": "📋 Model Selection Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/models",
        "options": {}
      },
      "id": "83aaedbd-5b0d-42df-918b-d8dea8736655",
      "name": "📡 Fetch OpenRouter Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ ИСПРАВЛЕННЫЙ КОД — разумные критерии для РФ + сохранение максимума моделей\nconst allModels = $input.first().json.data || [];\nconst maxModels = 30;\n\nconsole.log(`📡 Total models in catalog: ${allModels.length}`);\n\n// Статистика для отладки\nlet stats = {\n  total: allModels.length,\n  free_by_tag: 0,\n  free_by_price: 0,\n  compatible: 0,\n  blocked: 0,\n  passed: 0\n};\n\nconst freeModels = allModels.filter(m => {\n  const id = (m.id || '').toLowerCase();\n  const pricing = m.pricing || {};\n  \n  // 🔑 КРИТЕРИЙ 1: Бесплатность (гибкий подход)\n  // Вариант А: явно бесплатные по тегу\n  const isFreeByTag = \n    id.includes(':free') || \n    id.includes('/free') || \n    id.includes('preview') || \n    id.includes('demo') || \n    id.includes('trial') ||\n    id.includes('openrouter/free');\n  \n  // Вариант Б: \"почти бесплатные\" по цене (до $1.5 за 1М токенов — разумный порог для РФ)\n  const promptPrice = parseFloat(pricing.prompt) || 0;\n  const completionPrice = parseFloat(pricing.completion) || 0;\n  const isFreeByPrice = \n    (promptPrice <= 0.0000015 && completionPrice <= 0.000003); // $1.5/$3 за 1М токенов\n  \n  const isFree = isFreeByTag || isFreeByPrice;\n  \n  if (isFreeByTag) stats.free_by_tag++;\n  if (isFreeByPrice && !isFreeByTag) stats.free_by_price++;\n  \n  // 🔑 КРИТЕРИЙ 2: Совместимость с РФ (расширенный список)\n  // Разрешаем ЛЮБЫЕ модели, КРОМЕ явно проблемных для РФ\n  const isBlockedForRussia = \n    id.includes('claude-3') ||      // Anthropic — часто недоступен в РФ\n    id.includes('gpt-4o') ||        // GPT-4o — часто блокируется\n    id.includes('gpt-4-turbo') ||   // GPT-4 Turbo — часто блокируется\n    id.includes('gemini-1.5') ||    // Gemini 1.5 — часто блокируется\n    id.includes('o1-mini') ||       // OpenAI O1 — часто блокируется\n    id.includes('o1-preview') ||    // OpenAI O1 — часто блокируется\n    id.includes('gpt-3.5-turbo-0125'); // Старая версия, часто недоступна\n  \n  const isCompatible = !isBlockedForRussia;\n  \n  if (isCompatible) stats.compatible++;\n  if (isBlockedForRussia) stats.blocked++;\n  \n  // 🔑 КРИТЕРИЙ 3: Минимальный контекст (отсекаем совсем слабые модели)\n  const hasEnoughContext = (m.context_length || 0) >= 4096;\n  \n  // ✅ ФИНАЛЬНОЕ РЕШЕНИЕ: модель проходит если:\n  // 1. Бесплатная ИЛИ почти бесплатная\n  // 2. Не заблокирована для РФ\n  // 3. Имеет достаточный контекст\n  const passes = isFree && isCompatible && hasEnoughContext;\n  \n  if (passes) stats.passed++;\n  \n  return passes;\n})\n.sort((a, b) => {\n  // Сортировка: сначала по бесплатности (тег :free выше), потом по контексту\n  const aIsFreeTag = (a.id || '').toLowerCase().includes(':free');\n  const bIsFreeTag = (b.id || '').toLowerCase().includes(':free');\n  if (aIsFreeTag !== bIsFreeTag) return aIsFreeTag ? -1 : 1;\n  return (b.context_length || 0) - (a.context_length || 0);\n})\n.slice(0, maxModels);\n\n// Отладочный вывод — ПОКАЗЫВАЕТ ПОЧЕМУ МОДЕЛИ ОТБРАСЫВАЮТСЯ\nconsole.log('\\n📊 Фильтрация моделей:');\nconsole.log(`   Всего в каталоге: ${stats.total}`);\nconsole.log(`   ✅ Бесплатные по тегу (:free): ${stats.free_by_tag}`);\nconsole.log(`   💰 Почти бесплатные по цене (≤$1.5/1M): ${stats.free_by_price}`);\nconsole.log(`   🌍 Совместимые с РФ: ${stats.compatible}`);\nconsole.log(`   🚫 Заблокированные для РФ: ${stats.blocked}`);\nconsole.log(`   ✅ Прошли все фильтры: ${stats.passed}`);\nconsole.log(`   📦 Отобрано для тестирования: ${freeModels.length}\\n`);\n\nfreeModels.forEach((m, i) => {\n  const pricing = m.pricing || {};\n  const promptPrice = parseFloat(pricing.prompt) || 0;\n  const completionPrice = parseFloat(pricing.completion) || 0;\n  const isFreeTag = m.id.toLowerCase().includes(':free') ? '🆓' : '💰';\n  \n  console.log(`${(i+1).toString().padStart(2)}. ${isFreeTag} ${m.id.padEnd(55)} | Context: ${(m.context_length || 'N/A').toString().padStart(6)} | Price: $${(promptPrice * 1000000).toFixed(2)}/$${(completionPrice * 1000000).toFixed(2)} per 1M tokens`);\n});\n\nreturn freeModels.map(m => ({\n  json: {\n    model_id: m.id,\n    context_length: m.context_length,\n    description: (m.description || '').substring(0, 100),\n    source: 'openrouter_catalog',\n    pricing: m.pricing || {},\n    architecture: m.architecture?.modality || 'text->text'\n  }\n}));"
      },
      "id": "4221461f-a312-4dbe-91af-8ed79839659f",
      "name": "🔍 Filter Free Compatible Models",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        432
      ]
    },
    {
      "parameters": {},
      "id": "d6671101-382b-4ae7-9d75-e0cc0d96da8a",
      "name": "🔀 Merge Model Lists",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        128,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Удаляем дубликаты, сохраняем приоритетные модели на первых местах (кастомный список имеет приоритет)\nconst items = $input.all();\nconst uniqueModels = new Map();\n\nitems.forEach(item => {\n  const modelId = item.json.model_id;\n  \n  // Если модель уже есть — сохраняем с более высоким приоритетом (кастомный > дефолтный)\n  if (!uniqueModels.has(modelId)) {\n    uniqueModels.set(modelId, {\n      model_id: modelId,\n      context_length: item.json.context_length || 0,\n      description: item.json.description || 'N/A',\n      source: item.json.source || 'unknown',\n      priority: item.json.priority || 'medium',\n      pricing: item.json.pricing || {}\n    });\n  }\n});\n\nconst modelsArray = Array.from(uniqueModels.values());\n\nconsole.log(`\\n✅ Final model list for testing: ${modelsArray.length} models\\n`);\nmodelsArray.forEach((m, i) => {\n  console.log(`${i+1}. ${m.model_id}`);\n  console.log(`   Source: ${m.source} | Priority: ${m.priority}`);\n  if (m.context_length) console.log(`   Context: ${m.context_length} tokens`);\n  console.log('---');\n});\n\nreturn modelsArray.map(m => ({ json: m }));"
      },
      "id": "4d52b1e6-d914-4b55-a34d-4eb37e10efcb",
      "name": "✅ Deduplicate & Finalize List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        512
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4db7bb83-0b53-42cc-8116-43c34bcb5441",
      "name": "📦 Split In Batches (1 item)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Инициализируем контекст для каждой модели + задержка для rate limiting\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\n\n// Получаем конфигурацию напрямую из узла Configuration\nconst config = $('⚙️ Configuration').first().json;\nconst rateLimit = config.rate_limit_ms || 2000;\nconst apiKey = config.openrouter_api_key;\n\nawait delay(rateLimit); // Задержка между моделями для избежания 429 ошибок\n\nconst modelData = $input.first().json;\nconst modelId = modelData.model_id;\n\nconsole.log(`\\n⏳ Initializing test for model: ${modelId}`);\nconsole.log(`⏱️ Rate limiting: ${rateLimit}ms`);\nconsole.log(`🔑 API Key: ${apiKey ? '***' + apiKey.slice(-4) : 'NOT SET!'}`);\n\nif (!apiKey) {\n  throw new Error('OpenRouter API key is not set! Please configure openrouter_api_key in the Configuration node.');\n}\n\nreturn [{\n  json: {\n    model_id: modelId,\n    context_length: modelData.context_length || 0,\n    description: modelData.description || 'N/A',\n    source: modelData.source || 'unknown',\n    priority: modelData.priority || 'medium',\n    pricing: modelData.pricing || {},\n    openrouter_api_key: apiKey,\n    started_at: Date.now(),\n    test_session_id: `${modelId}_${Date.now()}`,\n    test_results: {}\n  }\n}];"
      },
      "id": "a33664ea-dec1-4b13-bc77-ad756e2e6fff",
      "name": "🚀 Init Model Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{$json.model_id}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Respond with exactly: 'OK'\"}],\"max_tokens\":5,\"temperature\":0.1}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "25a6749f-1670-4636-840b-56df276a77f4",
      "name": "🧪 Test 1: Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{$json.model_id}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Analyze the following Python code for security vulnerabilities and suggest improvements. Be concise. Code: `import os; password = \\\"admin123\\\"; os.system(f'echo {password}')`\"}],\"max_tokens\":300}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "2522599d-dc3b-41a9-be95-f303b1197633",
      "name": "🛡️ Test 2: Security Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{$json.model_id}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Refactor this simple Python function to be more robust and production-ready. Add type hints, a docstring, and basic error handling. Code: `def add(a, b): return a + b`\"}],\"max_tokens\":400}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "3cf58eb7-a5d2-4687-a80c-d046b0a6881c",
      "name": "✨ Test 3: Code Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{$json.model_id}}\",\"messages\":[{\"role\":\"user\",\"content\":\"A bat and a ball cost $1.10 in total. The bat costs $1.00 more than the ball. How much does the ball cost? Explain your reasoning step-by-step.\"}],\"max_tokens\":500}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "4be6f7cd-1b9f-4455-9c00-ddb2d67c6564",
      "name": "🧠 Test 4: Logical Reasoning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"{{$json.model_id}}\",\"messages\":[{\"role\":\"user\",\"content\":\"Generate a professional Python docstring for the function `def process_data(data, *, threshold=0.5, normalize=True):`. Include sections for a brief summary, arguments (Args), return value (Returns), and potential errors (Raises).\"}],\"max_tokens\":400}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "de5d4102-21a2-4605-90e4-9c70bb341d31",
      "name": "📚 Test 5: Documentation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ✅ КОРРЕКТНАЯ АГРЕГАЦИЯ С ГРУППИРОВКОЙ ПО МОДЕЛИ (исправленная версия)\nconst items = $input.all();\nconst modelResults = new Map();\n\n// Группируем результаты по уникальной комбинации: {модель} + {тип теста}\nitems.forEach(item => {\n  const modelId = item.json.model_id?.trim();\n  \n  if (!modelId) {\n    console.warn('⚠️ Skipping item without model_id:', item.json);\n    return;\n  }\n  \n  // Инициализируем запись для модели, если её нет (с сохранением метаданных)\n  if (!modelResults.has(modelId)) {\n    modelResults.set(modelId, {\n      model_id: modelId,\n      context_length: item.json.context_length || 0,\n      description: item.json.description || 'N/A',\n      source: item.json.source || 'unknown',\n      priority: item.json.priority || 'medium',\n      scores: {},\n      responses: {},\n      response_times: {},\n      costs: {},\n      errors: []\n    });\n  }\n  \n  const modelData = modelResults.get(modelId);\n  const tests = item.json.test_results || {};\n\n  // Проходим по всем тестам, которые есть в результатах\n  for (const testType in tests) {\n    const result = tests[testType];\n\n    // Сохраняем результат теста с оценкой качества (1-10)\n    if (result.success && result.response) {\n      let score = 5; // Базовый скор по умолчанию (средний уровень)\n      const response = (result.response || '').toLowerCase();\n      \n      // Динамическая оценка качества ответа в зависимости от типа теста:\n      switch(testType) {\n        case 'availability':\n          // Тест 1: Доступность — ожидаем точный ответ \"OK\"\n          score = response.trim() === 'ok' ? 10 : (response.includes('ok') ? 8 : 3);\n          break;\n        case 'security':\n          // Тест 2: Анализ безопасности — ищем упоминания уязвимостей и конкретных проблем безопасности в коде (жесткая проверка на наличие ключевых слов)\n          score = response.includes('vulnerability') || response.includes('security') || response.includes('insecure') || response.includes('hardcoded') || response.includes('password') ? 9 : \n                  response.length > 150 ? 8 : \n                  response.length > 50 ? 6 : 3;\n          break;\n        case 'code_quality':\n          // Тест 3: Качество кода — проверяем наличие улучшенного кода с правильным синтаксисом и обработкой ошибок (ищем ключевые слова: def, return, try, except, raise)\n          score = response.includes('def ') && response.includes('return') ? 9 : \n                  response.includes('pep8') || response.includes('error') || response.includes('try') || response.includes('except') ? 8 : 5;\n          break;\n        case 'reasoning':\n          // Тест 4: Логическое рассуждение — проверяем наличие пошагового объяснения и вывода (ищем слова: step, therefore, conclusion, logic, reasoning)\n          score = response.includes('step') && response.includes('therefore') ? 9 : \n                  response.length > 200 ? 8 : 5;\n          break;\n        case 'documentation':\n          // Тест 5: Документация — проверяем наличие профессионального докстринга с разделами Args, Returns, Raises (ищем ключевые слова: Args, Returns, Raises, docstring)\n          score = response.includes('args:') && response.includes('returns:') ? 10 : \n                  response.includes('docstring') || response.includes('raises:') ? 8 : 5;\n          break;\n      }\n      \n      // Сохраняем все метрики для анализа и отладки:\n      modelData.scores[testType] = score;\n      modelData.responses[testType] = (result.response || '').substring(0, 300);\n      modelData.response_times[testType] = result.latency || 0;\n      modelData.costs[testType] = result.cost || 0;\n    } else {\n      // Тест провален — сохраняем информацию об ошибке для последующего анализа:\n      modelData.scores[testType] = 0;\n      modelData.errors.push(`${testType}: status=${result.success}, latency=${result.latency}ms`);\n    }\n  }\n});\n\n// Преобразуем в массив и ранжируем по комплексному скору (учитываем качество, успехи, латентность и стоимость)\nconst results = Array.from(modelResults.values()).map(model => {\n  const scores = Object.values(model.scores).filter(s => s > 0);\n  const avgScore = scores.length ? (scores.reduce((a,b) => a+b, 0) / scores.length) : 0;\n  const successCount = Object.values(model.scores).filter(s => s > 0).length;\n  const totalCost = Object.values(model.costs).reduce((a,b) => a+b, 0);\n  const avgLatency = Object.values(model.response_times).reduce((a,b) => a+b, 0) / (Object.keys(model.response_times).length || 1);\n  \n  // Расчет комплексного скоринга с учетом всех факторов:\n  // Базовый скор = среднее качество ответов (1-10)\n  // Штраф за латентность: -0.1 за каждые 1000 мс сверх 5 секунд (максимум -3 балла)\n  // Штраф за стоимость: -0.5 за каждые $0.001 сверх $0.005 (максимум -2 балла)\n  // Бонус за 100% успех: +1 балл если все 5 тестов пройдены успешно (5/5)\n  \n  const latencyPenalty = Math.min(Math.max(0, (avgLatency - 5000) / 10000), 3); // Макс -3 за медленность (>15 сек)\n  const costPenalty = Math.min(totalCost * 200, 2); // Макс -2 за дороговизну (> $0.01)\n  const successBonus = successCount === 5 ? 1 : 0; // +1 за идеальный результат\n  \n  const overallScore = Math.max(0, avgScore - latencyPenalty - costPenalty + successBonus);\n  \n  return {\n    model_id: model.model_id,\n    context_length: model.context_length,\n    description: model.description,\n    source: model.source,\n    priority: model.priority,\n    overall_score: parseFloat(overallScore.toFixed(2)),\n    quality_score: parseFloat(avgScore.toFixed(2)),\n    success_rate: `${successCount}/5`,\n    avg_latency: parseFloat(avgLatency.toFixed(0)),\n    total_cost: parseFloat(totalCost.toFixed(6)),\n    latency_penalty: parseFloat(latencyPenalty.toFixed(2)),\n    cost_penalty: parseFloat(costPenalty.toFixed(2)),\n    success_bonus: successBonus,\n    scores: model.scores,\n    response_times: model.response_times,\n    costs: model.costs,\n    errors: model.errors,\n    tested_at: new Date().toISOString()\n  };\n}).sort((a, b) => {\n  // Сортировка: сначала по общему скору, потом по успехам, потом по латентности, потом по цене, потом по контексту (для моделей с одинаковым скором)\n  const successA = parseInt(a.success_rate);\n  const successB = parseInt(b.success_rate);\n  \n  if (b.overall_score !== a.overall_score) return b.overall_score - a.overall_score;\n  if (successB !== successA) return successB - successA;\n  if (a.avg_latency !== b.avg_latency) return a.avg_latency - b.avg_latency;\n  if (a.total_cost !== b.total_cost) return a.total_cost - b.total_cost;\n  return (b.context_length || 0) - (a.context_length || 0);\n});\n\n// Выводим отладочную информацию и статистику тестирования:\nconsole.log(`\\n✅ Агрегация завершена: обработано ${items.length} результатов тестов для ${results.length} моделей\\n`);\nresults.forEach((r, i) => {\n  const successCount = parseInt(r.success_rate);\n  const statusEmoji = successCount === 5 ? '✅' : successCount >= 3 ? '⚠️' : '❌';\n  \n  console.log(`${(i+1).toString().padStart(2)}. ${statusEmoji} ${r.model_id}`);\n  console.log(`   Overall: ${r.overall_score.toFixed(2)}/10 | Quality: ${r.quality_score.toFixed(2)}/10 | Success: ${r.success_rate}`);\n  console.log(`   Latency: ${r.avg_latency}ms (-${r.latency_penalty.toFixed(2)}) | Cost: $${r.total_cost} (-${r.cost_penalty.toFixed(2)})`);\n  console.log(`   Security: ${r.scores.security || 0}/10 | Code: ${r.scores.code_quality || 0}/10 | Reasoning: ${r.scores.reasoning || 0}/10 | Docs: ${r.scores.documentation || 0}/10`);\n  if (r.errors.length > 0) console.log(`   ⚠️ Errors: ${r.errors.length}`);\n  console.log('---');\n});\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "4f66c722-b1c5-4dd0-98c1-aac064088746",
      "name": "📊 Aggregate & Rank Results (FIXED)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Финальный отчёт с рекомендациями по ролям и использованию моделей в продакшене для многоагентных систем и оркестрации сложных рабочих процессов (для автоматизации бизнес-процессов и интеграции с внешними системами)\nconst models = $input.all().map(item => item.json);\n\nconsole.log('\\n' + '='.repeat(80));\nconsole.log('🤖 AI MODEL SCOUT — FINAL REPORT');\nconsole.log('='.repeat(80));\nconsole.log(`📅 Generated: ${new Date().toLocaleString('ru-RU')}`);\nconsole.log(`📊 Models Tested: ${models.length}`);\nconsole.log(`✅ Fully Working (5/5): ${models.filter(m => m.success_rate === '5/5').length}`);\nconsole.log(`⚠️ Partial Issues (3-4/5): ${models.filter(m => m.success_rate !== '5/5' && m.success_rate !== '0/5' && parseInt(m.success_rate) >= 3).length}`);\nconsole.log(`❌ Not Working (0-2/5): ${models.filter(m => parseInt(m.success_rate) < 3).length}`);\nconsole.log();\n\nconsole.log('🏆 TOP 10 RECOMMENDED MODELS:\\n');\nmodels.slice(0, 10).forEach((m, i) => {\n  const successCount = parseInt(m.success_rate);\n  const statusEmoji = successCount === 5 ? '✅' : successCount >= 3 ? '⚠️' : '❌';\n  \n  console.log(`${i+1}. ${statusEmoji} ${m.model_id}`);\n  console.log(`   Overall Score: ${m.overall_score.toFixed(2)}/10 | Quality: ${m.quality_score.toFixed(2)}/10 | Success: ${m.success_rate}`);\n  console.log(`   Context Length: ${m.context_length || 'N/A'} tokens | Source: ${m.source}`);\n  console.log(`   Latency: ${m.avg_latency}ms | Cost: $${m.total_cost}`);\n  console.log(`   Security: ${m.scores.security || 0}/10 | Code: ${m.scores.code_quality || 0}/10 | Reasoning: ${m.scores.reasoning || 0}/10 | Docs: ${m.scores.documentation || 0}/10`);\n  \n  // Рекомендация по роли на основе скоров (для использования в многоагентных системах)\n  let bestFor = [];\n  if (m.scores.security >= 8) bestFor.push('Security Expert');\n  if (m.scores.code_quality >= 8) bestFor.push('Code Quality Specialist');\n  if (m.scores.reasoning >= 8) bestFor.push('Reasoning Specialist');\n  if (m.scores.documentation >= 8) bestFor.push('Documentation Expert');\n  \n  if (bestFor.length > 0) {\n    console.log(`   💡 Best For: ${bestFor.join(', ')}`);\n  }\n  \n  if (m.errors.length > 0) {\n    console.log(`   ⚠️ Errors: ${m.errors.join('; ').substring(0, 100)}...`);\n  }\n  \n  console.log();\n});\n\nconsole.log('💡 ORCHESTRATION ROLE RECOMMENDATIONS:\\n');\n\n// Находим лучшую модель для каждой роли на основе специализированных скоров (для многоагентных систем)\n// УДАЛЕНО: type RoleRecommendation = { ... };\n\nconst roles = [];  // БЫЛО: const roles: RoleRecommendation[] = [];\n\n// Primary Orchestrator - самая стабильная и универсальная модель (5/5 успехов + высокий общий скор) для координации многоагентных рабочих процессов (для автоматизации бизнес-процессов)\nconst orchestrators = models.filter(m => m.success_rate === '5/5').sort((a, b) => b.overall_score - a.overall_score);\nif (orchestrators.length > 0) {\n  roles.push({\n    role: 'Primary Orchestrator',\n    model_id: orchestrators[0].model_id,\n    score: orchestrators[0].overall_score,\n    notes: 'Best for coordinating multi-agent workflows and complex orchestration tasks'\n  });\n}\n\n// Security Expert - максимальный скор по безопасности (для анализа уязвимостей и аудита кода)\nconst securityModels = models.filter(m => m.scores.security > 0).sort((a, b) => (b.scores.security || 0) - (a.scores.security || 0));\nif (securityModels.length > 0 && securityModels[0].scores.security >= 7) {\n  roles.push({\n    role: 'Security Expert',\n    model_id: securityModels[0].model_id,\n    score: securityModels[0].scores.security,\n    notes: 'Vulnerability detection and security analysis for code auditing'\n  });\n}\n\n// Code Quality Specialist - максимальный скор по качеству кода (для рефакторинга и улучшения кода)\nconst codeModels = models.filter(m => m.scores.code_quality > 0).sort((a, b) => (b.scores.code_quality || 0) - (a.scores.code_quality || 0));\nif (codeModels.length > 0 && codeModels[0].scores.code_quality >= 7) {\n  roles.push({\n    role: 'Code Quality Specialist',\n    model_id: codeModels[0].model_id,\n    score: codeModels[0].scores.code_quality,\n    notes: 'Code improvement, refactoring, PEP8 compliance and error handling'\n  });\n}\n\n// Reasoning Specialist - максимальный скор по рассуждениям (для сложных логических задач)\nconst reasoningModels = models.filter(m => m.scores.reasoning > 0).sort((a, b) => (b.scores.reasoning || 0) - (a.scores.reasoning || 0));\nif (reasoningModels.length > 0 && reasoningModels[0].scores.reasoning >= 7) {\n  roles.push({\n    role: 'Reasoning Specialist',\n    model_id: reasoningModels[0].model_id,\n    score: reasoningModels[0].scores.reasoning,\n    notes: 'Complex logical reasoning and problem-solving for analytical tasks'\n  });\n}\n\n// Documentation Expert - максимальный скор по документации (для генерации докстрингов и документации)\nconst docsModels = models.filter(m => m.scores.documentation > 0).sort((a, b) => (b.scores.documentation || 0) - (a.scores.documentation || 0));\nif (docsModels.length > 0 && docsModels[0].scores.documentation >= 7) {\n  roles.push({\n    role: 'Documentation Expert',\n    model_id: docsModels[0].model_id,\n    score: docsModels[0].scores.documentation,\n    notes: 'Professional documentation and docstring generation for codebases'\n  });\n}\n\nroles.forEach(role => {\n  console.log(`${role.role.padEnd(25)} → ${role.model_id} (${role.score.toFixed(1)}/10)`);\n  console.log(`   ${role.notes}`);\n});\n\nconsole.log('\\n' + '='.repeat(80));\nconsole.log('✅ Workflow completed successfully');\nconsole.log('='.repeat(80) + '\\n');\n\nconsole.log('💡 USAGE INSTRUCTIONS:');\nconsole.log('   - To test custom models: Set test_mode=\"custom\" and provide comma-separated model IDs in custom_models_list');\nconsole.log('   - To use default Russia-compatible list: Set test_mode=\"auto\" or leave empty');\nconsole.log('   - Adjust rate_limit_ms to control delay between model tests (default: 2000ms)');\nconsole.log('   - Results are sorted by overall score with penalties for latency and cost');\nconsole.log();\n\n// Возвращаем структурированный результат для возможного использования в других воркфлоу или сохранения в базу данных/файл:\nreturn [{\n  json: {\n    report_generated_at: new Date().toISOString(),\n    models_tested: models.length,\n    models_working: models.filter(m => m.success_rate === '5/5').length,\n    models_partial: models.filter(m => m.success_rate !== '5/5' && m.success_rate !== '0/5').length,\n    models_failed: models.filter(m => m.success_rate === '0/5').length,\n    ranked_models: models,\n    role_recommendations: roles.map(r => ({\n      role: r.role,\n      model_id: r.model_id,\n      score: r.score,\n      notes: r.notes\n    })),\n    top_model: models.length > 0 ? {\n      model_id: models[0].model_id,\n      overall_score: models[0].overall_score,\n      success_rate: models[0].success_rate\n    } : null\n  }\n}];"
      },
      "id": "fb01980a-1d13-4722-87c5-24acd7c56147",
      "name": "✅ Final Report & Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Берём ИСХОДНЫЙ контекст модели из Init Model Context (содержит API key, model_id)\nconst modelContext = $('🚀 Init Model Context').first().json;\n\n// Берём ответ от теста (HTTP-ответ от OpenRouter)\nconst testResponse = $input.first().json;\n\n// Анализируем результат\nconst success = !!testResponse.choices;\nconst latency = Date.now() - modelContext.started_at;\nconst cost = testResponse.usage?.cost || 0;\nconst response = testResponse.choices?.[0]?.message?.content || '';\n\n// Выводим отладку\nconsole.log(`${success ? '✅' : '❌'} Test 1 (Availability): ${latency}ms | Cost: $${cost.toFixed(6)}`);\nif (success) console.log(`   Response: \"${response.substring(0, 30)}${response.length > 30 ? '...' : ''}\"`);\n\n// Возвращаем ОБНОВЛЁННЫЙ контекст с сохранённым результатом\nreturn [{\n  json: {\n    ...modelContext, // ← сохраняем ВЕСЬ исходный контекст включая API key!\n    test_results: {\n      ...modelContext.test_results, // сохраняем предыдущие результаты\n      availability: { // добавляем результат текущего теста\n        success,\n        latency,\n        cost,\n        response: response.substring(0, 200)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        256
      ],
      "id": "f1cc5198-bbe2-4814-abd2-62875176af49",
      "name": "Save_test_1_result"
    },
    {
      "parameters": {
        "jsCode": "// Берём контекст модели из предыдущего Save узла\nconst modelContext = $('Save_test_1_result').first().json;\n\n// Берём ответ от теста (HTTP-ответ от OpenRouter)\nconst testResponse = $input.first().json;\n\n// Анализируем результат\nconst success = !!testResponse.choices;\nconst latency = Date.now() - modelContext.started_at;\nconst cost = testResponse.usage?.cost || 0;\nconst response = testResponse.choices?.[0]?.message?.content || '';\n\n// Выводим отладку\nconsole.log(`${success ? '✅' : '❌'} Test 2 (Security): ${latency}ms | Cost: $${cost.toFixed(6)}`);\nif (success) console.log(`   Response: \"${response.substring(0, 30)}${response.length > 30 ? '...' : ''}\"`);\n\n// Возвращаем ОБНОВЛЁННЫЙ контекст с сохранённым результатом\nreturn [{\n  json: {\n    ...modelContext, // ← сохраняем контекст включая API key и предыдущие тесты\n    test_results: {\n      ...modelContext.test_results, // сохраняем предыдущие результаты\n      security: { // добавляем результат текущего теста\n        success,\n        latency,\n        cost,\n        response: response.substring(0, 200)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        256
      ],
      "id": "67b145be-4ea7-4d14-a20a-df480c76ac13",
      "name": "Save_test_2_result"
    },
    {
      "parameters": {
        "jsCode": "// Берём контекст модели из предыдущего Save узла\nconst modelContext = $('Save_test_2_result').first().json;\n\n// Берём ответ от теста (HTTP-ответ от OpenRouter)\nconst testResponse = $input.first().json;\n\n// Анализируем результат\nconst success = !!testResponse.choices;\nconst latency = Date.now() - modelContext.started_at;\nconst cost = testResponse.usage?.cost || 0;\nconst response = testResponse.choices?.[0]?.message?.content || '';\n\n// Выводим отладку\nconsole.log(`${success ? '✅' : '❌'} Test 3 (Code Quality): ${latency}ms | Cost: $${cost.toFixed(6)}`);\nif (success) console.log(`   Response: \"${response.substring(0, 30)}${response.length > 30 ? '...' : ''}\"`);\n\n// Возвращаем ОБНОВЛЁННЫЙ контекст с сохранённым результатом\nreturn [{\n  json: {\n    ...modelContext, // ← сохраняем контекст включая API key и предыдущие тесты\n    test_results: {\n      ...modelContext.test_results, // сохраняем предыдущие результаты\n      code_quality: { // добавляем результат текущего теста\n        success,\n        latency,\n        cost,\n        response: response.substring(0, 200)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        256
      ],
      "id": "a7d56d37-61c7-4a4a-8884-c5b118c69482",
      "name": "Save_test_3_result"
    },
    {
      "parameters": {
        "jsCode": "// Берём контекст модели из предыдущего Save узла\nconst modelContext = $('Save_test_3_result').first().json;\n\n// Берём ответ от теста (HTTP-ответ от OpenRouter)\nconst testResponse = $input.first().json;\n\n// Анализируем результат\nconst success = !!testResponse.choices;\nconst latency = Date.now() - modelContext.started_at;\nconst cost = testResponse.usage?.cost || 0;\nconst response = testResponse.choices?.[0]?.message?.content || '';\n\n// Выводим отладку\nconsole.log(`${success ? '✅' : '❌'} Test 4 (Reasoning): ${latency}ms | Cost: $${cost.toFixed(6)}`);\nif (success) console.log(`   Response: \"${response.substring(0, 30)}${response.length > 30 ? '...' : ''}\"`);\n\n// Возвращаем ОБНОВЛЁННЫЙ контекст с сохранённым результатом\nreturn [{\n  json: {\n    ...modelContext, // ← сохраняем контекст включая API key и предыдущие тесты\n    test_results: {\n      ...modelContext.test_results, // сохраняем предыдущие результаты\n      reasoning: { // добавляем результат текущего теста\n        success,\n        latency,\n        cost,\n        response: response.substring(0, 200)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        256
      ],
      "id": "3db8882d-1ce3-4ca8-bbd4-364e498af91b",
      "name": "Save_test_4_result"
    },
    {
      "parameters": {
        "jsCode": "// Берём контекст модели из предыдущего Save узла\nconst modelContext = $('Save_test_4_result').first().json;\n\n// Берём ответ от теста (HTTP-ответ от OpenRouter)\nconst testResponse = $input.first().json;\n\n// Анализируем результат\nconst success = !!testResponse.choices;\nconst latency = Date.now() - modelContext.started_at;\nconst cost = testResponse.usage?.cost || 0;\nconst response = testResponse.choices?.[0]?.message?.content || '';\n\n// Выводим отладку\nconsole.log(`${success ? '✅' : '❌'} Test 5 (Documentation): ${latency}ms | Cost: $${cost.toFixed(6)}`);\nif (success) console.log(`   Response: \"${response.substring(0, 30)}${response.length > 30 ? '...' : ''}\"`);\n\n// Возвращаем ОБНОВЛЁННЫЙ контекст с сохранённым результатом\nreturn [{\n  json: {\n    ...modelContext, // ← сохраняем контекст включая API key и предыдущие тесты\n    test_results: {\n      ...modelContext.test_results, // сохраняем предыдущие результаты\n      documentation: { // добавляем результат текущего теста\n        success,\n        latency,\n        cost,\n        response: response.substring(0, 200)\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        256
      ],
      "id": "489b1258-2415-405f-ac78-9d113f62eef2",
      "name": "Save_test_5_result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1856,
        64
      ],
      "id": "e2521b70-45fe-46e1-887a-7de2fa6e7b26",
      "name": "Collect All Results"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2032,
        576
      ],
      "id": "2852121d-3238-4af8-95a3-462a7e1a1d68",
      "name": "Convert to File"
    }
  ],
  "pinData": {
    "🔀 Merge Model Lists": [
      {
        "json": {
          "model_id": "deepseek/deepseek-chat",
          "source": "default_russia_list",
          "priority": "high",
          "region": "russia_compatible",
          "original_index": 2
        }
      },
      {
        "json": {
          "model_id": "deepseek/deepseek-chat-v3.1",
          "source": "default_russia_list",
          "priority": "high",
          "region": "russia_compatible",
          "original_index": 3
        }
      },
      {
        "json": {
          "model_id": "llama-3.1-70b-versatile",
          "source": "default_russia_list",
          "priority": "high",
          "region": "russia_compatible",
          "original_index": 4
        }
      },
      {
        "json": {
          "model_id": "llama-3.1-8b-instant",
          "source": "default_russia_list",
          "priority": "high",
          "region": "russia_compatible",
          "original_index": 5
        }
      },
      {
        "json": {
          "model_id": "upstage/solar-pro-3:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 6
        }
      },
      {
        "json": {
          "model_id": "nvidia/llama-3.1-nemotron-70b-instruct",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 7
        }
      },
      {
        "json": {
          "model_id": "arcee-ai/trinity-large-preview:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 8
        }
      },
      {
        "json": {
          "model_id": "qwen/qwen-2.5-coder-32b-instruct:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 9
        }
      },
      {
        "json": {
          "model_id": "deepseek/deepseek-coder",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 10
        }
      },
      {
        "json": {
          "model_id": "meta-llama/llama-3.1-70b-instruct:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 11
        }
      },
      {
        "json": {
          "model_id": "meta-llama/llama-3.2-3b-instruct:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 12
        }
      },
      {
        "json": {
          "model_id": "meta-llama/llama-3.2-1b-instruct:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 13
        }
      },
      {
        "json": {
          "model_id": "google/gemma-2-9b-it:free",
          "source": "default_russia_list",
          "priority": "medium",
          "region": "russia_compatible",
          "original_index": 14
        }
      },
      {
        "json": {
          "model_id": "qwen/qwen3-next-80b-a3b-instruct:free",
          "context_length": 262144,
          "description": "Qwen3-Next-80B-A3B-Instruct is an instruction-tuned chat model in the Qwen3-Next series optimized fo",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "qwen/qwen3-coder:free",
          "context_length": 262000,
          "description": "Qwen3-Coder-480B-A35B-Instruct is a Mixture-of-Experts (MoE) code generation model developed by the ",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "stepfun/step-3.5-flash:free",
          "context_length": 256000,
          "description": "Step 3.5 Flash is StepFun's most capable open-source foundation model. Built on a sparse Mixture of ",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "nvidia/nemotron-3-nano-30b-a3b:free",
          "context_length": 256000,
          "description": "NVIDIA Nemotron 3 Nano 30B A3B is a small language MoE model with highest compute efficiency and acc",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "deepseek/deepseek-r1-0528:free",
          "context_length": 163840,
          "description": "May 28th update to the [original DeepSeek R1](/deepseek/deepseek-r1) Performance on par with [OpenAI",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "arcee-ai/trinity-mini:free",
          "context_length": 131072,
          "description": "Trinity Mini is a 26B-parameter (3B active) sparse mixture-of-experts language model featuring 128 e",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "openai/gpt-oss-120b:free",
          "context_length": 131072,
          "description": "gpt-oss-120b is an open-weight, 117B-parameter Mixture-of-Experts (MoE) language model from OpenAI d",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "openai/gpt-oss-20b:free",
          "context_length": 131072,
          "description": "gpt-oss-20b is an open-weight 21B parameter model released by OpenAI under the Apache 2.0 license. I",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "z-ai/glm-4.5-air:free",
          "context_length": 131072,
          "description": "GLM-4.5-Air is the lightweight variant of our latest flagship model family, also purpose-built for a",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "google/gemma-3-27b-it:free",
          "context_length": 131072,
          "description": "Gemma 3 introduces multimodality, supporting vision-language input and text outputs. It handles cont",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "meta-llama/llama-3.2-3b-instruct:free",
          "context_length": 131072,
          "description": "Llama 3.2 3B is a 3-billion-parameter multilingual large language model, optimized for advanced natu",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "nousresearch/hermes-3-llama-3.1-405b:free",
          "context_length": 131072,
          "description": "Hermes 3 is a generalist language model with many improvements over Hermes 2, including advanced age",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "arcee-ai/trinity-large-preview:free",
          "context_length": 131000,
          "description": "Trinity-Large-Preview is a frontier-scale open-weight language model from Arcee, built as a 400B-par",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0",
            "request": "0",
            "image": "0",
            "web_search": "0",
            "internal_reasoning": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "upstage/solar-pro-3:free",
          "context_length": 128000,
          "description": "Solar Pro 3 is Upstage's powerful Mixture-of-Experts (MoE) language model. With 102B total parameter",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "nvidia/nemotron-nano-12b-v2-vl:free",
          "context_length": 128000,
          "description": "NVIDIA Nemotron Nano 2 VL is a 12-billion-parameter open multimodal reasoning model designed for vid",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text+image+video->text"
        }
      },
      {
        "json": {
          "model_id": "nvidia/nemotron-nano-9b-v2:free",
          "context_length": 128000,
          "description": "NVIDIA-Nemotron-Nano-9B-v2 is a large language model (LLM) trained from scratch by NVIDIA, and desig",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "mistralai/mistral-small-3.1-24b-instruct:free",
          "context_length": 128000,
          "description": "Mistral Small 3.1 24B Instruct is an upgraded variant of Mistral Small 3 (2501), featuring 24 billio",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "meta-llama/llama-3.3-70b-instruct:free",
          "context_length": 128000,
          "description": "The Meta Llama 3.3 multilingual large language model (LLM) is a pretrained and instruction tuned gen",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "qwen/qwen3-4b:free",
          "context_length": 40960,
          "description": "Qwen3-4B is a 4 billion parameter dense language model from the Qwen3 series, designed to support bo",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "liquid/lfm-2.5-1.2b-thinking:free",
          "context_length": 32768,
          "description": "LFM2.5-1.2B-Thinking is a lightweight reasoning-focused model optimized for agentic tasks, data extr",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "liquid/lfm-2.5-1.2b-instruct:free",
          "context_length": 32768,
          "description": "LFM2.5-1.2B-Instruct is a compact, high-performance instruction-tuned model built for fast on-device",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "cognitivecomputations/dolphin-mistral-24b-venice-edition:free",
          "context_length": 32768,
          "description": "Venice Uncensored Dolphin Mistral 24B Venice Edition is a fine-tuned variant of Mistral-Small-24B-In",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "google/gemma-3-4b-it:free",
          "context_length": 32768,
          "description": "Gemma 3 introduces multimodality, supporting vision-language input and text outputs. It handles cont",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "google/gemma-3-12b-it:free",
          "context_length": 32768,
          "description": "Gemma 3 introduces multimodality, supporting vision-language input and text outputs. It handles cont",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "google/gemma-3n-e2b-it:free",
          "context_length": 8192,
          "description": "Gemma 3n E2B IT is a multimodal, instruction-tuned model developed by Google DeepMind, designed to o",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "google/gemma-3n-e4b-it:free",
          "context_length": 8192,
          "description": "Gemma 3n E4B-it is optimized for efficient execution on mobile and low-resource devices, such as pho",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0",
            "completion": "0"
          },
          "architecture": "text->text"
        }
      },
      {
        "json": {
          "model_id": "x-ai/grok-4.1-fast",
          "context_length": 2000000,
          "description": "Grok 4.1 Fast is xAI's best agentic tool calling model that shines in real-world use cases like cust",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0.0000002",
            "completion": "0.0000005",
            "web_search": "0.005",
            "input_cache_read": "0.00000005"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "x-ai/grok-4-fast",
          "context_length": 2000000,
          "description": "Grok 4 Fast is xAI's latest multimodal model with SOTA cost-efficiency and a 2M token context window",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0.0000002",
            "completion": "0.0000005",
            "web_search": "0.005",
            "input_cache_read": "0.00000005"
          },
          "architecture": "text+image->text"
        }
      },
      {
        "json": {
          "model_id": "openrouter/auto",
          "context_length": 2000000,
          "description": "Your prompt will be processed by a meta-model and routed to one of dozens of models (see below), opt",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "-1",
            "completion": "-1"
          },
          "architecture": "text+image+file+audio+video->text+image"
        }
      },
      {
        "json": {
          "model_id": "google/gemini-3-flash-preview",
          "context_length": 1048576,
          "description": "Gemini 3 Flash Preview is a high speed, high value thinking model designed for agentic workflows, mu",
          "source": "openrouter_catalog",
          "pricing": {
            "prompt": "0.0000005",
            "completion": "0.000003",
            "image": "0.0000005",
            "audio": "0.000001",
            "internal_reasoning": "0.000003",
            "input_cache_read": "0.00000005",
            "input_cache_write": "0.00000008333333333333334"
          },
          "architecture": "text+image+file+audio+video->text"
        }
      }
    ]
  },
  "connections": {
    "▶️ Start Workflow": {
      "main": [
        [
          {
            "node": "⚙️ Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Configuration": {
      "main": [
        [
          {
            "node": "📋 Model Selection Logic",
            "type": "main",
            "index": 0
          },
          {
            "node": "📡 Fetch OpenRouter Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Model Selection Logic": {
      "main": [
        [
          {
            "node": "🔀 Merge Model Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Fetch OpenRouter Catalog": {
      "main": [
        [
          {
            "node": "🔍 Filter Free Compatible Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter Free Compatible Models": {
      "main": [
        [
          {
            "node": "🔀 Merge Model Lists",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Model Lists": {
      "main": [
        [
          {
            "node": "✅ Deduplicate & Finalize List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Deduplicate & Finalize List": {
      "main": [
        [
          {
            "node": "📦 Split In Batches (1 item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Split In Batches (1 item)": {
      "main": [
        [
          {
            "node": "Collect All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚀 Init Model Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Init Model Context": {
      "main": [
        [
          {
            "node": "🧪 Test 1: Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 Test 1: Availability": {
      "main": [
        [
          {
            "node": "Save_test_1_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Test 2: Security Analysis": {
      "main": [
        [
          {
            "node": "Save_test_2_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Test 3: Code Quality": {
      "main": [
        [
          {
            "node": "Save_test_3_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Test 4: Logical Reasoning": {
      "main": [
        [
          {
            "node": "Save_test_4_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 Test 5: Documentation": {
      "main": [
        [
          {
            "node": "Save_test_5_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Aggregate & Rank Results (FIXED)": {
      "main": [
        [
          {
            "node": "✅ Final Report & Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_test_1_result": {
      "main": [
        [
          {
            "node": "🛡️ Test 2: Security Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_test_2_result": {
      "main": [
        [
          {
            "node": "✨ Test 3: Code Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_test_3_result": {
      "main": [
        [
          {
            "node": "🧠 Test 4: Logical Reasoning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_test_4_result": {
      "main": [
        [
          {
            "node": "📚 Test 5: Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_test_5_result": {
      "main": [
        [
          {
            "node": "Collect All Results",
            "type": "main",
            "index": 1
          },
          {
            "node": "📦 Split In Batches (1 item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Results": {
      "main": [
        [
          {
            "node": "📊 Aggregate & Rank Results (FIXED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Final Report & Recommendations": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8fffb8b-91d3-4b84-9578-91a263042e0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab2f3148efabf1a50e8cbf1d56b8f18e7d3161846f871ea3c90e3e626b1c7337"
  },
  "id": "qf5sHvq0OZfUSHGl",
  "tags": []
}